@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!-- Banner -->
    <div class="banner-container">
        <img src="/img/logo.jpg" class="img-fluid banner" alt="Banner del Sistema">
    </div>

</div>